# Титаник: прогноз выживания

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic_train.csv', sep=',')
print(df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# Раздел 1. Понимаем и трансформируем данные с Титаника

### Задача 1.1

Разбейте все переменные в датасете на численные, категорийные и ординальные. Запишите их названия (копируя из списка `train_df.columns`) и сохраните в следующем блоке в categorical и ordinal.

In [6]:
numerical = ['Age', 'SibSp', 'Parch', 'Fare']
categorical = ['Sex', 'Embarked', 'Survived']
ordinal = ['Cabin', 'Pclass']

### Задача 1.2

Запишите названия переменных, которые не принесут никакой пользы для статистической модели, в список not_useful в следующем блоке. Используя команду `.drop()`, удалите эти переменные из данных.

In [7]:
not_useful = ['PassengerId', 'Name', 'Ticket']
df.drop(not_useful, axis=1, inplace=True)

### Задача 1.3
Меняем гендер в бинарную репрезентацию

In [9]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

### Задача 1.4
Есть ли у нас пропущенные данные?

In [10]:
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

In [11]:
missing_data = df.isnull().sum()
print(missing_data)

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

-----

# Раздел 2. Анализируем данные

In [14]:
class_1_df = df.loc[df['Pclass'] == 1]
class_2_df = df.loc[df['Pclass'] == 2]
class_3_df = df.loc[df['Pclass'] == 3]

print(class_1_df)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare        Cabin Embarked
1           1       1    1  38.0      1      0  71.2833          C85        C
3           1       1    1  35.0      1      0  53.1000         C123        S
6           0       1    0  54.0      0      0  51.8625          E46        S
11          1       1    1  58.0      0      0  26.5500         C103        S
23          1       1    0  28.0      0      0  35.5000           A6        S
..        ...     ...  ...   ...    ...    ...      ...          ...      ...
871         1       1    1  47.0      1      1  52.5542          D35        S
872         0       1    0  33.0      0      0   5.0000  B51 B53 B55        S
879         1       1    1  56.0      0      1  83.1583          C50        C
887         1       1    1  19.0      0      0  30.0000          B42        S
889         1       1    0  26.0      0      0  30.0000         C148        C

[216 rows x 9 columns]

## Покажите какие шансы на выживание в зависимости от класса билета:

In [17]:
survival = df.groupby('Pclass')['Survived'].mean()
for pclass, survival_rate in survival.items():
    print(f"{pclass} = {survival_rate}")

1 = 0.6296296296296297
2 = 0.47282608695652173
3 = 0.24236252545824846

## Шансы на выживание в зависимости от возраста:

In [21]:
survival_by_age = df.groupby('Age')['Survived'].mean()
print(survival_by_age)

Age
0.42     1.0
0.67     1.0
0.75     1.0
0.83     1.0
0.92     1.0
        ...
70.00    0.0
70.50    0.0
71.00    0.0
74.00    0.0
80.00    1.0
Name: Survived, Length: 88, dtype: float64

## Шансы на выживание в зависимости от ...

In [22]:
survival_by_gender = df.groupby('Sex')['Survived'].mean()
print(survival_by_gender)

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [25]:
survival_by_sibsp = df.groupby('SibSp')['Survived'].mean()
print(survival_by_sibsp)

SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

In [26]:
survival_by_parch = df.groupby('Parch')['Survived'].mean()
print(survival_by_parch)

Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64